* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5ffff;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
    max-width: 500px;
    margin: 10px;   
    background: #fff;
    padding: 20px;
    border-radius: 25px;
}

.gif img {
    max-width: 400px;
    border-radius: 10px;
}

h1 {
    font-size: 1.8rem;
    color: #333;
}


h2 {
    font-size: 1.4rem;
    color: #333;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.button a button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.button a button:hover {
    background-color: #0056b3;
}

.audio audio {
    width: 450px;
    padding: 10px;
    outline: none;
}

.date input {
    width: 350px;
    padding: 10px;
    outline: none;
}

input[type="date"] {
    text-align: center;
    font-size: 18px; 
}

.date button[type="submit"] {
    text-align: center;
    align-items: center;
    width: 60px;
    padding: 10px;
    outline: none;
    background-color: #007bff;
    color: #ffff;
    border-radius: 5px;

}

.date a button:hover {
    background-color: #0056b3;
}

.date-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button a button,
.button #noButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button a button:hover,
.button #noButton:hover {
    background-color: #0056b3;
}

.button #noButton {
    position: relative;
}

@media screen and (max-width: 400px) {
    body {
        padding: 10px;
    }

    .container {
        max-width: 100%;
        padding: 15px;
    }

    .gif img {
        max-width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .audio {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .audio audio {
        width: 100%;
        max-width: 300px;
        display: block;
    }

    .date input {
        width: 100%;
        max-width: 150px;
        font-size: 16px;
    }

    input[type="date"] {
        text-align: center;
        font-size: 16px;
    }

    .date button[type="submit"] {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
    }

    .button a button {
        width: auto;
        padding: 10px 15px;
        font-size: 1rem;
    }
}



